
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    
}
    
<div style="margin-top: 25px; text-align: center">

    <div style="text-align: center; margin-top: 50px"> 
        <a href="https://www.paypal.me/fantasygolfmasters17">
            <img style="display: inline; opacity: 0.7; height: 150px; width: 200px; background-color: #f3f2f2" src="~/images/Paypal-logo-20141.png" alt="PayPal company logo" />
        </a>
     </div>
    <div style="margin-top: 5px; font-size: 1.25em;"><a class="sidebarText" style="color: #000000" href="https://www.paypal.me/fantasygolfmasters17">Donate Now to help us keep our content free!</a></div>
   
    <form style="margin-top: 40px" asp-controller="GolfArticles" asp-action="ArticleSearch" method="get">
        <p>
            <input style="border-radius: 25px" type="text" name="Aterm" id="Aterm" />
        </p>
        <p>
            <input type="submit" class="btn btn-default siteButtons" value="Search Past Articles" />
        </p>

    </form>

    <!--Fantasy Draft Promo-->
    <div style="margin-top: 40px; text-align: center">
        <a href="https://www.fantasydraft.com/play/Duffman08">
            <img style="display: inline;text-align: center; height: 150px; width: 200px; background-color: #f3f2f2" src="~/images/fantasy_draftLOGOEDIT.jpg" alt="FantasyDraft company logo" />
        </a>
    </div>

    <div style="margin-top: 25px">
        <a class="sidebarText" href="https://www.fantasydraft.com/play/Duffman08">Play rake free HU matches!</a>
    </div>

    <!--LineupBuilder Link-->
    <div style="margin-top: 25px">
        <a asp-controller="BuildLineups" asp-action="Index">
            <i class="ion-settings icon-big"></i>
        </a>
    </div>
    <div style="font-size: 1.25em; margin-top: 20px;"><a asp-controller="BuildLineups" asp-action="Index">Build Lineups for Daily Fantasy Golf</a></div>
    
    <!--DraftKings Link-->
        <div style="margin-top: 25px; text-align: center">
            <a href="https://www.draftkings.com/r/TaterrHead">
                <img style="display: inline;text-align: center; height: 175px; width: 200px; background-color: #f3f2f2" src="~/images/DraftKings-logo-font.png" alt="DraftKings company logo" />
            </a>
            
        </div>
    <div style="margin-top: 25px">
        <a class="sidebarText"  href="https://www.draftkings.com/r/TaterrHead">Play DFS golf at the World's largest DFS site</a>
    </div>
 
    <!--Check out latest Golf Articles-->
    <div style="margin-top: 25px">
        <a asp-controller="GolfArticles" asp-action="LatestBlogs">
            <i class="ion-ios-list-outline icon-big"></i>
        </a>
    </div>
    <div style="font-size: 1.25em; margin-top:10px;"><a asp-controller="GolfArticles" asp-action="LatestBlogs">Check out our latest Golf Articles</a></div>

    <!--FanDuel Linkage-->
    <div style="margin-top: 25px; text-align: center">
        <a href="https://www.fanduel.com/?invitedby=taterrhead&cnl=da">
            <img style="display: inline;text-align: center; height: 175px; width: 200px; background-color: #f3f2f2" src="~/images/fanduel_monogram_detail.png" alt="FanDuel company logo" />
        </a>
    </div>
        <div style="margin-top: 45px"><a class="sidebarText" href="https://www.fanduel.com/?invitedby=taterrhead&cnl=da">Play DFS golf at FanDuel</a></div>

    <!--BitCoin Donations-->
        <div style="margin-top: 25px; text-align: center; font-size: 1.25em">
            <a href="bitcoin:1McpBWG18KCVmFMQDfyFHD7rPmC1xr3Df8">
                <i class="ion-social-bitcoin-outline icon-big"></i>
                <!--<img style="display: inline; text-align: center; height: 175px; width 175px" src="~/images/bitcoin-225080_960_720.png" alt="bitcoin">-->
            </a>
            <div style="margin-top: 25px">
            <p>Donate bitcoin via the address below to help us keep this content free!</p>
            <p>1McpBWG18KCVmFMQDfyFHD7rPmC1xr3Df8</p>
            </div>
        </div>
    </div>

