
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    
}
    
<div style="margin-top: 25px; text-align: center">

    <div style="font-size: 1.50em;"><a href="https://www.paypal.me/fantasygolfmasters17">Donate Now to help us keep our content free!</a></div>
   
    <form style="margin-top: 40px" asp-controller="GolfArticles" asp-action="ArticleSearch" method="get">
        <p>
            <input type="text" name="Aterm" id="Aterm" />
        </p>
        <p>
            <input type="submit" value="Search Past Articles" />
        </p>

    </form>


    <div style="margin-top: 40px; text-align: center">
        <img style="display: inline;text-align: center; height: 150px; width: 200px; background-color: #f3f2f2" src="~/images/fantasy_draftLOGOEDIT.jpg" alt="FantasyDraft company logo" />
    </div>
    </a>
    <a style="margin-top: 25px; text-align: center; color: #00ccff; display: inline; font-size: 1.10em" href="https://www.fantasydraft.com/play/Duffman08">Play rake free HU matches!</a>

    <div style="font-size: 1.50em; margin-top: 30px;"><a asp-controller="BuildLineups" asp-action="Index">Build Lineups for Daily Fantasy Golf</a></div>
    
    <a href="https://www.draftkings.com/r/TaterrHead">
        <div style="margin-top: 25px; text-align: center">
            <img style="display: inline;text-align: center; height: 175px; width: 200px; background-color: #f3f2f2" src="~/images/DraftKings-logo-font.png" alt="DraftKings company logo" />
        </div>
    </a>
    <a style="margin-top: 25px; text-align: center; color: #617300; display: inline; font-size: 1.10em" href="https://www.draftkings.com/r/TaterrHead">Play DFS golf at the World's largest DFS site</a>

    <div style="font-size: 1.50em; margin-top:30px;"><a asp-controller="GolfArticles" asp-action="LatestBlogs">Check out our latest Golf Articles</a></div>

    <a href="https://www.fanduel.com/?invitedby=taterrhead&cnl=da">
        <div style="margin-top: 25px; text-align: center">
            <img style="display: inline;text-align: center; height: 175px; width: 200px; background-color: #f3f2f2" src="~/images/fanduel_monogram_detail.png" alt="FanDuel company logo" />
        </div>
    </a>
    <div style="margin-top: 25px"><a style="text-align: center; color: #0090ff; font-size: 1.10em" href="https://www.fanduel.com/?invitedby=taterrhead&cnl=da">Play DFS golf at FanDuel</a></div>

    <div style="margin-top: 25px; text-align: center; font-size: 1.25em">
        <a href="bitcoin:1McpBWG18KCVmFMQDfyFHD7rPmC1xr3Df8">
            <img style="display: inline; text-align: center; height: 175px; width 175px" src="~/images/bitcoin-225080_960_720.png" alt="bitcoin">
        </a>
        <p>Donate bitcoin via the address below to help us keep this content free!</p>
        <p>1McpBWG18KCVmFMQDfyFHD7rPmC1xr3Df8</p>
    </div>
</div>

