@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model PGAlineupBuilder.Models.SEOsignUP

<h1>Thank's for Signing up for alerts from PGAlineupBuilder.  They will be delivered to @Model.Email</h1>


