@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<h1>Golf Articles</h1>

<form method="get" asp-controller="GolfArticles" asp-action="AllBlogs">
   
    <input class="form-control" type="submit" value="Get all Golf Posts" />
</form>
<br />

<form method="get" asp-controller="GolfArticles" asp-action="SearchBlogs">

    <input class="form-control" type="submit" value="Search for Blog Posts" />

</form>
<br />
<form method="post" asp-controller="GolfArticles" asp-action="NewPost">
    <input class="form-control" type="submit" value="Make a New Golf Article" />
</form>
<br />
<form method="get" asp-controller="GolfArticles" asp-action="DeletePost">
    <input class="form-control" type="submit" value="Delete a Golf Article" />
</form>
<br />
<form method="get" asp-controller="ManageGolfArticles" asp-action="Index">
    <input class="form-control" type="submit" value="Edit a Golf Article" />
</form>